{% extends 'default/template.html' %}
{% load static %}
{% block picword %}

{{ Message }}

{% endblock %}

{% block sidecol %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Event Info</a></li>
    <li><a href="#tabs-2">Comments</a></li>
  </ul>
  <div id="tabs-1">
    <div id="lati" hidden >{{ userEvent.latitude }}</div>
<div id="longi" hidden >{{ userEvent.longitude }}</div>
<h3>Title: </h3> <p>{{userEvent.title}}</p>
<h5>Description: </h5> <p>{{userEvent.comments}}
<h5>Time until event closes: </h5> <p>{{ time }}
  </div>
  <div id="tabs-2">
    <div class="detailBox">
      <div class="titleBox">
        <label><strong>User Comments about the event.</strong></label>
      </div>
      <div class="actionBox">
                {% for i in eventInfo.all %}
                  <div>
                    Author: {{ i.author }}
                    <br>
                  </div>
                  <div class="commentText">
                      <p class="">{{ i.event_comments }}</p> 
                    <hr>
                  </div>
                {% endfor %}
      </div>
    </div>
  
  <form action = "{% url 'default:event' userEvent.id %}" method = "post">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Enter your comment</label>
        <textarea class="form-control" name="comment" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
      <br>
  </div>
</div>
 





{% endblock %}

{% block imagecontent %}


<style>

    #map { height: 600px;}
    
    .coordinates {
    background:white;
    color: black;
    position: relative;
    top: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
    }
    #instructions {
    
    margin: 20px;
    width: 100%;
    top: 0;
    bottom: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
    }

.duration {
  font-size: 2em;
}
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    
</style>

<div id = "map"></div>
<pre id="coordinates" class="coordinates" hidden></pre>
<hr>
<button type="button" class="btn btn-info" id = "button1">Click here to get the directions.</button>
<div id = "instructions"  style="display:none"></div>
<script>
$(document).ready(function(){
  $("#button1").click(function(){
    $("#instructions").toggle();
  });
});
</script>
<script type="text/javascript" src="{% static 'default/map.js' %}"></script>



{% endblock %}
