{% extends 'default/template.html' %}
{% load static %}
{% block picword %}

{{ message }}

{% endblock %}





{% block rightHeader %}



{% endblock %}



{% block imagecontent %}


<style>

    #map { height: 600px; }

    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    
</style>
   
<div id = "map"></div>
<pre id="coordinates" class="coordinates" hidden></pre>

<script type="text/javascript" src="{% static 'default/map.js' %}"></script>


{% endblock %}