<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Event Maps</title>

        <link rel="stylesheet" type="text/css" href="{% static 'default/styles2.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Turf.js plugin -->
        <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

         <!-- jQuery -->
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

         <!-- XDSoft DateTimePicker -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    </head>

    <body>

        <div class="navbar">

            <a href="{% url 'default:index' %}" >Home</a>
            <a href="{% url 'default:about' %}" >About</a>
            {% if user.is_authenticated %}
            <a href="{% url 'default:createPrivate' user.id %}">Private Map</a>
            <a href="{% url 'default:log_out' %}" >Logout</a>
            {% else %}
            <a href="{% url 'default:index' %}">Log in/ Sign Up</a>
            {% endif %}
            <form class="example" action="{% url 'default:search' %}" method = "post">
                {% csrf_token %}
                <input type="text" placeholder="Search for an event..." name="query" id="query">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>


        </div>

        <div class = "picContainer">
            <img src= "{% static 'default/Image2.jpg' %}" width = 100% height = "200" alt="Photo of mountains">
            <div class = "centered"><font color="white"><font size="72"><p style ="text-align: center;"><h1 class="display-4">{% block picword %}View currently active events{% endblock %}</h1></p></font></font></div>
        </div>

        <div class="rowCon">
            
            <div class = "sideCol">
                {% block sidecol %}
                {% if user.is_authenticated %}
                
                <h3>Create an Event</h3>
                <br>

                
                <form action = "{% url 'default:createEvent' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="lat" id ="lat" value="" />
                    <input type="hidden" name="long" id = "long" value="" />
                    <input type="hidden" name="id" value= "{{ user.id }}" />

    
                    <button type="button" class="btn btn-info" id = "button1">Click here to plan for a future event.</button>
                    <div id = "display_date"  style="display:none">
                    
                        <input id="datetimepicker" name = "datetimepicker" type="text">
    
                        <script>
                            $(function () {
                                $("#datetimepicker").datetimepicker({
                                    inline:true,
                                    minDate:'0'
                                    //format:'D/M/Y HH:mm'
                                });
                            });
    
                        </script>
                    
                    </div>
                    <script>
                        $(document).ready(function(){
                            $("#button1").click(function(){
                                $("#display_date").toggle();
                            });
                        });
                    </script>

    
                    <br>

                    <hr>
                    <input type="text" class="form-control" name="title" placeholder="Enter Title" required>
                    <hr>
                    <input type="text" name="comment" class="form-control" placeholder="Enter a short description">
                    <hr>
                    
                    <div class="form-group">
                        <label for="Time">Select Timer:</label>
                        <select class="form-control" id="Time" name="Time">
                          <option value="30">30 minutes</option>
                          <option value="2">2 hours</option>
                          <option value = "6">6 hours</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="Icon">Select an Icon Type:</label>
                        <select class="form-control" id="icon" name="icon">
                          <option value="hospital-15">Generic</option>
                          <option value="road-closure">Road Block</option>
                          <option value = "car-15">Car</option>
                          <option value = "attraction-15">Attraction</option>
                          <option value = "basketball-15">Sports</option>
                          <option value = "library-15">Information</option>
                          <option value = "parking-15">Parking</option>
                          <option value = "bus">Bus</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
                {{ time }}



                {% else %}
                <h3>Sign In</h3>


                <form action = "{% url 'default:logged_in' %}" method = "post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="formGroupExampleInput">Username</label>
                      <input type="text" class="form-control" name="username" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
                <br>
                Don't have an account?  
                <a href="{% url 'default:sign_up' %}">Click here.</a>
    
                {% endif %}
                {% endblock %}
            </div>
            

            <div class = "main">

                {% block rightHeader %}{% endblock %}

                <div class="media">
                    {% block image %}{% endblock %}

                    <div class="media-body">
                      {% block imagecontent %}
                      
                      {% endblock %}
        
                    </div>
                  </div>

            </div>

        </div>  

        


    </body>

    
</html>